{
  extends: 'stylelint-config-standard',
  rules: {
    'block-no-empty': null,
    'comment-empty-line-before': null,
    'comment-whitespace-inside': null,
    'max-empty-lines': 2,
    'no-descending-specificity': null,
    'no-duplicate-selectors': null,
    'rule-empty-line-before': null,
  },
}
